@model List<WebApp.Areas.Admin.Models.Department>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!-- doccure/calendar.html  30 Nov 2019 04:12:18 GMT -->
<head>
    <meta charset="utf-8">
    <title>Doccure</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

    <!-- Favicons -->
    <link href="/doc_assets/img/favicon.png" rel="icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/doc_assets/css/bootstrap.min.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="/doc_assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="/doc_assets/plugins/fontawesome/css/all.min.css">

    <link rel="stylesheet" href="/doc_assets/css/style.css">
    <!-- Datetimepicker CSS -->
    @*<link rel="stylesheet" href="/doc_assets/css/bootstrap-datetimepicker.min.css">*@

    <!-- Full Calander CSS Khúc này của L-->
    @*<link href="~/doc_assets/css/fullcalendar.min.css" rel="stylesheet" />
        <link href="~/doc_assets/css/fullcalendar.print.css" rel="stylesheet" />*@
    <link href="~/specialist/plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet" />
    @*<link href="~/doc_assets/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />*@
    @*<link rel="stylesheet" href="/doc_assets/plugins/fullcalendar/fullcalendar.min.css">*@

    <!-- Main CSS -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="/doc_assets/js/html5shiv.min.js"></script>
        <script src="/doc_assets/js/respond.min.js"></script>
    <![endif]-->
    <style>
        .modal-header {
            position: relative
        }

            .modal-header .close {
                float: right;
                position: absolute;
                right: 16px;
                top: 16px;
            }

        .modal-title {
            transform: translateX(50%);
        }

        .btn {
            margin: 0 4px
        }

        .doc-slot-list {
            opacity: 0.6;
        }

        .choose {
            opacity: 1;
        }

        .modal-content {
            width: 600px;
        }
        th.fc-day-header.fc-widget-header.fc-sun {
            color: #fa531f;
        }

        th.fc-day-header.fc-widget-header.fc-sat {
            color: #faa01f;
        }
        .fc-title {
            color: white;
            font-weight: 700;
            font-family: "Segoe UI","Segoe UI Emoji","Segoe UI Symbol";
        }
    </style>
</head>
<body>

    <!-- Main Wrapper -->
    <div class="main-wrapper">

        <div class="content">
            <div class="container-fluid">

                <div class="row">

                    <!-- Calendar Events -->
                    <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">

                        <!-- Profile Sidebar -->
                        <div class="profile-sidebar">
                            <div class="widget-profile pro-widget-content">
                                <div class="profile-info-widget">
                                    <a href="#" class="booking-doc-img" id="doctorImage">
                                        <img src="/doc_assets/img/doctors/doctor-thumb-02.jpg" alt="User Image">
                                    </a>
                                    <div class="profile-det-info">
                                        <h3 id="doctorName">Dr. Darren Elder</h3>
                                        <div class="patient-details" id="doctorDept">
                                            <h5 class="mb-0" id="eduName">BDS, MDS - Oral & Maxillofacial Surgery</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="dashboard-widget">
                                <nav class="dashboard-menu">
                                    <ul>
                                        @foreach (var item in Model)
                                        {
                                            <li>
                                                <table class="table table-borderless">
                                                    <thead>
                                                        <tr>
                                                            <th class="department" data-id="@item.IdDept"> @item.DeptName</th>
                                                        </tr>

                                                    </thead>
                                                    <tbody class="doctors"></tbody>
                                                </table>
                                            </li>
                                        }
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <!-- /Profile Sidebar -->

                    </div>
                    <!-- /Calendar Events -->
                    <!-- Calendar -->
                    <div class="col-md-7 col-lg-8 col-xl-9">
                        <div class="card">
                            <div class="card-body">
                                <div id="calender"></div>
                            </div>
                        </div>
                    </div>
                    <!-- /Calendar -->

                </div>

            </div>

        </div>
        <!-- /Page Content -->
        <!-- Footer -->
        <footer class="footer">

            <!-- Footer Top -->
            <div class="footer-top">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-2 col-md-3">
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="footer-widget footer-about">
                                <div class="footer-logo">
                                    <img src="/doc_assets/img/footer-logo.png" alt="logo">
                                </div>
                                <div class="footer-about-content">
                                    <p>Doccure có đội ngũ chuyên gia, bác sĩ, dược sĩ và điều dưỡng trình độ chuyên môn cao, giàu kinh nghiệm. tận tâm và chuyên nghiệp. Luôn đặt người bệnh làm trung tâm, Doccure cam kết đem đến dịch vụ chăm sóc sức khỏe tốt nhất.</p>
                                    <div class="social-icon">
                                        <ul>
                                            <li>
                                                <a href="#" target="_blank"><i class="fab fa-facebook-f"></i> </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank"><i class="fab fa-twitter"></i> </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank"><i class="fab fa-dribbble"></i> </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <div class="footer-widget footer-contact">
                                <h2 class="footer-title">Liên hệ</h2>
                                <div class="footer-contact-info">
                                    <div class="footer-address">
                                        <span><i class="fas fa-map-marker-alt"></i></span>
                                        <p> 437c/4 Long Hòa, Bình Thủy, Cần Thơ</p>
                                    </div>
                                    <p>
                                        <i class="fas fa-phone-alt"></i>
                                        0977129155
                                    </p>
                                    <p class="mb-0">
                                        <i class="fas fa-envelope"></i>
                                        doccure@gmail.com
                                    </p>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-2 col-md-3">
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- /Footer -->

    </div>

    <!-- /Add Category Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><span id="eventTitle"></span></h4>
                </div>
                <div class="modal-body d-flex justify-content-end ">
                    <button id="btnDelete" class="btn btn-danger pull-right">
                        <span class="glyphicon glyphicon-remove"></span> Xóa
                    </button>
                    <button id="btnEdit" class="btn btn-success  pull-right" style="margin-right:5px;">
                        <span class="glyphicon glyphicon-pencil"></span> Sửa
                    </button>
                    <p id="pDetails"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
    <div id="myModalSave" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Lưu Lịch</h4>
                </div>
                <div class="modal-body">
                    <form class="col-md-12 form-horizontal">
                        <input type="hidden" id="hdEventID" value="0" />
                        <div class="form-group">
                            <label>Ngày </label>
                            <div class="input-group date" id="dtp1">
                                <input type="text" id="txtStart" class="form-control" placeholder="dd/MM/yyyy" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <input type="hidden" id="txtTimeRange" />
                        <div class="doc-times" id="modalTimeRange"></div>
                        <div class="form-group">
                            <label>Phòng</label>
                            <select class="form-control" id="txtOrdinalroom"></select>
                        </div>
                        <div class="form-group">
                            <label>Ghi chú</label>
                            <textarea id="txtDescription" rows="3" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <input id="ddThemeColor" value="#3ad46b" class="form-control" hidden />
                        </div>
                        <button type="button" id="btnSave" class="btn btn-success">Lưu</button>
                        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Đóng</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery -->
    <script src="/doc_assets/js/jquery.min.js"></script>
    <script src="~/doc_assets/js/moment.min.js"></script>
    <script src="~/doc_assets/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/doc_assets/js/fullcalendar.min.js"></script>
    <script>
        var j = jQuery.noConflict();
        var departments = document.getElementsByClassName('department');
        var events = [];
        var selectedEvent = null;
        var idDoctor = null;
        var timeRange = null;
        j(document).ready(() => {
            j.ajax({
                type: "GET",
                url: "/Specialist_Doctor/home/getTimeRange",
                success: function (data) {
                    //console.log("timerange",data);
                    timeRange = data;
                },
                error: function (error) {
                    console.log('get time range failed');
                }
            })
            FetchEventAndRenderCalendar('@ViewBag.idemp')
        })
        function showDoctor(tr) {
            let id = j(tr).data('id');
            let iddept = j(tr).data('dept');
            let imageUrl = j(tr).data('content');
            let img = document.createElement('img');
            let docn = document.createElement('docn');
            let parentDoctor = document.getElementById('doctorName');
            let parentImage = document.getElementById('doctorImage');
            parentImage.innerHTML = '';
            parentDoctor.innerHTML = '';
            img.src = `/assets/img/doctors/${imageUrl}`;
            document.getElementById('doctorName').innerText = j(tr).data('doctor');
            document.getElementById('eduName').innerText = j(tr).data('edu');
            parentImage.appendChild(img)
            parentDoctor.appendChild(docn);
            idDoctor = id;
            FetchEventAndRenderCalendar(idDoctor);
            j.post('/Specialist_Doctor/home/GetRoomByIdDept', { id: iddept }, (d) => {
                console.log("room:", d)
                if (d.length > 0) {

                    let str = `<option value ="0">Chọn phòng</option>`
                    for (let x of d) {
                        str += `<option value="${x.ordinalRoom}">${x.roomName}</option>`
                    }
                    document.getElementById('txtOrdinalroom').innerHTML = str;
                } else {
                    document.getElementById('txtOrdinalroom').innerHTML = "";
                }
            })
        }

        //Array.from(departments).forEach((department) => {})
        for (let department of departments) {
            department.addEventListener('click', function () {
                let id = j(this).data('id');
                console.log(id)
                let afterDeparment = this.parentNode.parentNode.nextElementSibling;
                if (afterDeparment.innerHTML === '') {
                    clearDoctor()
                    j.ajax({
                        url: '/Specialist_Doctor/home/GetDoctorByDepartment',
                        data: { id: id },
                        type: "POST",
                        global: false,
                        dataType: 'json',
                        success: function (d) {
                            console.log(d)
                            let str = ''
                            for (var i = 0; i < d.length; i++) {
                                str += `<tr onclick={showDoctor(this)} data-edu="${d[i].eduName}" data-doctor="${d[i].nameEmp}" data-dept="${id}" data-content="${d[i].images}" data-id="${d[i].idEmp}"><td>${d[i].nameEmp}</td><td>${d[i].eduName}</td></tr>`
                            }
                            afterDeparment.innerHTML = str;
                        }
                    });
                } else {
                    afterDeparment.innerHTML = '';
                }

            })
        }
        function clearDoctor() {
            let doctors = document.getElementsByClassName('doctors')
            for (doctor of doctors) {
                doctor.innerHTML = '';
            }
        }

        function FetchEventAndRenderCalendar(id) {
            document.getElementById('calender').innerHTML = '';
            events = [];
            j.ajax({
                type: "POST",
                url: "/Specialist_Doctor/home/GetSchedule",
                data: { id: id },
                success: function (data) {
                    //console.log(data);
                    j.each(data, function (i, v) {
                        let s = []
                        let c = []
                        let timerange = v.timeRange.split(',')
                        for (var i = 0; i < timerange.length; i++) {
                            for (tr of timeRange) {
                                if (tr.idPeriod === parseInt(timerange[i])) {
                                    if (tr.idSes === 1) {
                                        s.push(tr)
                                    }
                                    if (tr.idSes === 2) {
                                        c.push(tr)
                                    }
                                }
                            }

                        }
                        //console.log(s)
                        //console.log(c)
                        events.push({
                            eventID: v.id,
                            title: `${s.length > 0 ? 'Sáng: ' + s.length + ' tiếng' : ''}${c.length > 0 ? (s.length > 0 && c.length > 0 ? '\n' : '') + 'Chiều: ' + c.length + ' tiếng' : ''}`,
                            description: v.description,
                            timeRange: v.timeRange,
                            start: v.dated,
                            ordinalRoom: v.ordinalRoom,
                            end: null,
                            color: v.color,
                            allDay: true
                        });
                    })
                    GenerateCalender(events);
                },
                error: function (error) {
                    alert('failed');
                }
            })
        }
        function GenerateCalender(events) {
            j('#calender').fullCalendar('destroy');
            j('#calender').fullCalendar({
                //hiddenDays: [0],
                monthNames: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6', 'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
                monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
                dayNames: ['CN', 'Thứ 2', 'Thứ 3', 'Thứ 4', 'Thứ 5', 'Thứ 6', 'Thứ 7'],
                dayNamesShort: ['CN', 'Thứ 2', 'Thứ 3', 'Thứ 4', 'Thứ 5', 'Thứ 6', 'Thứ 7'],
                height: 'auto',
                //contentHeight: 1500,
                defaultDate: new Date(),
                timeFormat: 'h(:mm)a',
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,basicWeek,basicDay'
                },
                eventLimit: false,
                eventColor: '#378006',                
                events: events,
                eventClick: function (calEvent, jsEvent, view) {
                    selectedEvent = calEvent;
                    j('#myModal #eventTitle').text(calEvent.title);
                    j('#myModal').modal();
                },
                selectable: true,
                select: function (start, end) {
                    console.log({ "start": typeof (start) });
                    console.log({ "ngày được chọn:": typeof (start._d) })
                    selectedEvent = {
                        eventID: 0,
                        ordinalRoom: 0,
                        //idDoctor: idDoctor,
                        timeRange: '',
                        description: '',
                        start: JSON.stringify(start).slice(1, 11),
                        color: ''
                    };
                    openAddEditForm();
                    j('#calendar').fullCalendar('unselect');
                },
                editable: true,
                eventDrop: function (event) {//throw dropdown, fall,
                    console.log(event);
                    var data = {
                        id: event.eventID,
                        idDoctor: idDoctor,
                        dated: JSON.stringify(event.start._d).slice(1, 11),
                        timeRange: event.timeRange,
                        ordinalRoom: event.ordinalRoom,
                        description: event.description,
                        color: event.color
                    };
                    console.log(data);
                    SaveEvent(data);
                }
            })
        }
        j('#btnEdit').click(function () {
            openAddEditForm();
        })
        j('#btnDelete').click(function () {
            j.ajax({
                type: "POST",
                url: '/Specialist_Doctor/home/DeleteSchedule',
                data: { id: parseInt(selectedEvent.eventID) },
                success: function (d) {
                    if (d !== 0) {
                        console.log('Xóa thành công');
                    } else {
                        console.log('Xóa không thành công');
                    }
                    j('#myModal').modal('hide');
                    FetchEventAndRenderCalendar(idDoctor);
                },
                error: function () {
                    alert('Failed');
                }
            })
        })

        j('#dtp1,#dtp2').datetimepicker({
            format: 'DD/MM/YYYY'
        });

        function openAddEditForm() {
            console.log({ "selectedEvent": selectedEvent })
            let str = '';
            if (selectedEvent != null) {
                j('#hdEventID').val(selectedEvent.eventID);
                j('#txtStart').val(selectedEvent.start._i ?? selectedEvent.start);
                //j('#txtStart').val(moment(selectedEvent.start).format('DD/MM/YYYY'));
                j('#txtStart').attr('readonly', true);
                j('#txtDescription').val(selectedEvent.description);
                //room
                j('#txtOrdinalRoom').val(selectedEvent.ordinalRoom);

                j('#ddThemeColor').val(selectedEvent.color);
                j('#txtTimeRange').val(selectedEvent.timeRange);
                for (var i = 0; i < timeRange.length; i++) {
                    str += `<div onclick="changeTimeRange(this)" class="doc-slot-list ${selectedEvent.timeRange.indexOf(timeRange[i].idPeriod) > -1 ? "choose" : ""}"><a data-id="${timeRange[i].idPeriod}">${timeRange[i].rangeTime}</a></div>`
                }
            } else {
                for (var i = 0; i < timeRange.length; i++) {
                    str += `<div onclick="changeTimeRange(this)" class="doc-slot-list"><a data-id="${timeRange[i].idPeriod}">${timeRange[i].rangeTime}</a></div>`
                }
                j('#txtStart').attr('readonly', false);
            }
            document.getElementById('modalTimeRange').innerHTML = str;
            j('#myModal').modal('hide');
            j('#myModalSave').modal();
        }
        function changeTimeRange(e) {
            e.classList.toggle('choose');
            let idTimeRange = document.getElementsByClassName('choose');
            let values = [];
            for (x of idTimeRange) {
                values.push(j(x.childNodes[0]).data('id'))
            }
            console.log({ "value time rang": values });
            j('#txtTimeRange').val(values.join(','));

        }
        j('#btnSave').click(function () {
            var data = {
                id: parseInt(j('#hdEventID').val()),
                idEmp: idDoctor,
                dated: j('#txtStart').val(),
                //                dated: j('#txtStart').val().trim(),
                description: j('#txtDescription').val(),
                ordinalRoom: parseInt(j('#txtOrdinalroom :selected').val()),
                //color: j('#ddThemeColor').val(),#3ad46b
                color: '#3ad46b',
                timeRange: j('#txtTimeRange').val()
            }
            console.log({ "data to save": data })
            SaveEvent(data);
            // call function for submit data to the server
        })

        function SaveEvent(data) {
            j.ajax({
                type: "POST",
                url: '/Specialist_Doctor/home/SaveSchedule',
                data: data,
                success: function (d) {
                    if (d != 0) {
                        console.log("Lưu thành công")
                    } else {
                        console.log("Lưu không thành công")
                    }
                    j('#myModalSave').modal('hide');
                    FetchEventAndRenderCalendar(idDoctor);
                },
                error: function () {
                    alert('Failed');
                }
            })
        }
        function convertDate(str) {
            var date = new Date(str),
                mnth = ("0" + (date.getMonth() + 1)).slice(-2),
                day = ("0" + date.getDate()).slice(-2);
            return [date.getFullYear(), mnth, day].join("-");
        }
    </script>
    <!--Bootstrap Core JS-->
    <script src="/doc_assets/js/popper.min.js"></script>
    <script src="/doc_assets/js/bootstrap.min.js"></script>

    <!-- Sticky Sidebar JS -->
    <script src="/doc_assets/plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
    <script src="/doc_assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>

    <!-- Datetimepicker JS -->
    @*
        <script src="/doc_assets/js/bootstrap-datetimepicker.min.js"></script>*@

    <!-- Full Calendar JS -->
    @*<script src="/doc_assets/plugins/jquery-ui/jquery-ui.min.js"></script>
        <script src="/doc_assets/plugins/fullcalendar/fullcalendar.min.js"></script>
        <script src="/doc_assets/plugins/fullcalendar/jquery.fullcalendar.js"></script>*@

    <!-- Custom JS -->
    @*<script src="/doc_assets/js/script.js"></script>*@

</body>

<!-- doccure/calendar.html  30 Nov 2019 04:12:19 GMT -->
