@{
    ViewData["Title"] = "Appointment";
    Layout = "~/Areas/Doctor/Views/Shared/_LayoutDoctor.cshtml";
}

<!-- Main Wrapper -->
<div class="main-wrapper">
    <!-- Page Content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-7 col-lg-8 col-xl-12">
                    <div class="appointments" id="bodycontentdoctor">
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /Page Content -->
    <!-- Footer -->
    <!-- /Footer -->

</div>
<!-- /Main Wrapper -->
<!-- Appointment Details Modal -->
<div class="modal fade custom-modal" id="appt_details">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Appointment Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="info-details">
                    <li>
                        <div class="details-header">
                            <div class="row">
                                <div class="col-md-6">
                                    <span class="title">#APT0001</span>
                                    <span class="text">21 Oct 2019 10:00 AM</span>
                                </div>
                                <div class="col-md-6">
                                    <div class="text-right">
                                        <button type="button" class="btn bg-success-light btn-sm" id="topup_status">Completed</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <span class="title">Status:</span>
                        <span class="text">Completed</span>
                    </li>
                    <li>
                        <span class="title">Confirm Date:</span>
                        <span class="text">29 Jun 2019</span>
                    </li>
                    <li>
                        <span class="title">Paid Amount</span>
                        <span class="text">$450</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- doccure/appointments.html  30 Nov 2019 04:12:09 GMT -->
<script>
    var j = jQuery.noConflict();
    j(document).ready(() => {
        j.post('/users/auth/GetUserInfo', null, (d) => {
            console.log(d)
            username.innerText = d;
        })
    })
    colors = ['#B22222', 'DarkOrange', 'Gold', 'LawnGreen', 'DodgerBlue', 'Aqua', 'DeepPink','LightSeaGreen']
    j(document).ready(() => {
 let id = "@ViewBag.userId";
        console.log(id);
        j.post('/Doctor/home/GetPKBByIdEmp', { id: id }, (d) => {
            console.log(d);
            if (d.length > 0) {
                let str=''
                for (var i = 0; i < d.length; i++) {
                    str += `
                        <div class="appointment-list">
                            <div class="profile-info-widget">
                                <h6 class="booking-doc-img" style="color:${(colors.length-1)>i?colors[i]:'black'}">${d[i].sttPatient}
                                </h6>
                                <div class="profile-det-info">
                                    <h3>${d[i].namePatient}</h3>
                                    <div class="patient-details">
                                        <h5><i class="far fa-clock"></i>${moment(d[i].dated).format('DD/MM/YYYY')}, Khung giờ:${d[i].rangeTime} AM</h5>
                                        <h5><i class="fas fa-map-marker-alt"></i>${d[i].addP}</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="appointmenViewBag-action">
                                <a href="/Doctor/Home/PatientProfile/${d[i].idPatient}" class="btn btn-sm bg-info-light" data-target="#appt_details">
                                    <i class="far fa-edit"></i> Chẩn đoán
                                </a>
                                <a href="javascript:void(0);" class="btn btn-sm bg-success-light">
                                    <i class="fas fa-check"></i> Hoàn tất
                                </a>
                            </div>
                        </div>`
                }
                bodycontentdoctor.innerHTML = str;

            }

        })
    })
</script>
