@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from dreamguys.co.in/demo/doccure/admin/forgot-password.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 30 Nov 2019 04:12:53 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Doccure - Forgot Password</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <style>
        p,a,h1{
            font-family:Arial,sans-serif
        }
    </style>
</head>
<body>

    <!-- Main Wrapper -->
    <div class="main-wrapper login-body">
        <div class="login-wrapper">
            <div class="container">
                <div class="loginbox">
                    <div class="login-left">
                        <img class="img-fluid" src="/assets/img/logo-white.png" alt="Logo">
                    </div>
                    <div class="login-right">
                        <div class="login-right-wrap">
                            <h1>Lấy lại mật khẩu</h1>
                            <p class="account-subtitle">Vui lòng nhập email để lấy lại tài khoản</p>

                            <!-- Form -->
                            <form id="verify">
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="Email" id="email">
                                </div>
                                <div class="form-group mb-0">
                                    <a class="btn btn-primary btn-block" id="btnverify">Xác nhận</a>
                                </div>
                            </form>
                            <form id="reset" class="d-none">
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="Code" id="code">
                                </div>
                                <div class="form-group mb-0">
                                    <a class="btn btn-success btn-block" id="btnreset">Reset Password</a>
                                </div>
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Main Wrapper -->
    <!-- jQuery -->
    <script src="/assets/js/jquery-3.2.1.min.js"></script>
    <script>
        var j = jQuery.noConflict();
        j(document).ready(() => {
            btnverify.onclick = () => {
                let email = document.getElementById('email').value;
                if (email != "") {
                    j.post('/users/auth/VerifyEmail', { email: email }, (d) => {
                        if (d == "OK") {
                            alert("Mã xác nhận đã được gửi tới email: " + document.getElementById('email').value)
                            document.getElementById('reset').classList.remove('d-none');
                            document.getElementById('verify').classList.add('d-none');
                        } else {
                            alert(d);
                            document.getElementById('email').focus();
                        }
                    })
                } else {
                    alert("Khong được bỏ trống email");
                    document.getElementById('email').focus();
                }
            }
            btnreset.onclick = () => {
                let email = document.getElementById('email').value;
                let code = document.getElementById('code').value;
                if (code != "") {
                    j.post('/users/auth/ResetPassword', { email: email, code: code }, (d) => {
                        if (d == "OK") {
                            alert("Mật khẩu đã được gửi tới email: " + document.getElementById('email').value);
                            window.location.href = "/users/auth/signin";
                        } else {
                            alert(d);
                            document.getElementById('code').focus();
                        }
                    })
                } else {
                    alert("Mã xác nhận không được bỏ trống")
                    document.getElementById('code').focus();
                }
            }
        })

    </script>
    <!-- Bootstrap Core JS -->
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>

    <!-- Custom JS -->
    <script src="/assets/js/script.js"></script>

</body>

<!-- Mirrored from dreamguys.co.in/demo/doccure/admin/forgot-password.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 30 Nov 2019 04:12:53 GMT -->
</html>