@{
    Layout = "~/Areas/Patient/Views/Shared/_LayoutPA.cshtml";
}
<head>
    <style>
        h2, h3 {
            font-family: Arial,sans-serif;
            color: #15558d;
            position: relative;
            font-weight: 700;
        }

        .line {
            width: 130px;
        }

        .style_list_hotline__uutA0 {
            display: flex;
            flex-wrap: wrap;
            margin-left: -30px;
            padding: 0 15px;
        }

        .style_list_group__19F3G {
            flex: 0 1 33.33333%;
            display: flex;
            padding-left: 30px;
        }

            .style_list_group__19F3G .style_list_group_item__1QJSo {
                background-color: #fff;
                width: 100%;
                padding: 30px 15px;
                border-radius: 6px;
                text-align: center;
                border: 2px solid #dfe3eb;
            }

        .style_list_hotline__uutA0 h2 {
            color: #0e2b5c !important;
            font-size: 1.4rem;
            font-weight: 500;
        }

        .style_desc__3-KG- {
            font-size: 1rem;
            text-align: center;
            margin-bottom: 0;
            color: #000 !important;
        }

        .style_list_group_img__3lRi8 {
            text-align: center;
            display: flex;
            flex-direction: column;
        }

            .style_list_group_img__3lRi8 img {
                margin-bottom: 10px;
                width: max-content !important;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }

        .view img, .view video {
            position: relative;
        }

        .style_icon__2cCEx {
            margin-top: 10px;
        }

        img {
            border: none;
            height: auto;
            max-width: 100%;
            vertical-align: top;
        }

        .style_link__1yJp8 {
            font-size: .875rem;
            margin-top: 10px;
            cursor: pointer;
        }
    </style>
</head>
<section class="comp-section">
    <div class="comp-header">
        <h3 class="comp-title">Liên hệ</h3>
        <div class="line"></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div data-test="container" class="container">
                        <div data-test="row" class="row">
                            <div class="style_list_hotline__uutA0">
                                <div class="style_list_group__19F3G">
                                    <div class="style_list_group_item__1QJSo">
                                        <h2 class="style_title_component__3jzrX">
                                            <span>Hỏi đáp nhanh</span>
                                        </h2>
                                        <p class="style_desc__3-KG-">Danh sách các câu hỏi đã được hệ thống hóa, bạn có thể tham khảo nhanh</p><div class="style_list_group_img__3lRi8">
                                            <img src="~/doc_assets/img/message.dfcf8708.svg" />
                                        </div>
                                        <div>
                                            <span class="style_link__1yJp8">
                                                <a href="/Home/Thacmac">Tham khảo <i class="fas fa-long-arrow-alt-right"></i></a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="style_list_group__19F3G">
                                    <div class="style_list_group_item__1QJSo">
                                        <h2 class="style_title_component__3jzrX">
                                            <span>Các kênh hỗ trợ</span>
                                        </h2>
                                        <p class="style_desc__3-KG-">Liên hệ trực tiếp với chúng tôi qua các kênh hỗ trợ sau</p>
                                        <div class="style_list_group_img__3lRi8">
                                            <img src="~/doc_assets/img/zalo.c572a0da.svg" />
                                            <img src="~/doc_assets/img/facebook.36f35f09.svg" />
                                        </div>
                                        <div>
                                            <a class="style_phone__Q0yXU" href="tel:1900-2115">0977129155</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="style_list_group__19F3G">
                                    <div class="style_list_group_item__1QJSo">
                                        <h2 class="style_title_component__3jzrX">
                                            <span>Thời gian làm việc</span>
                                        </h2>
                                        <p class="style_desc__3-KG-">Thời gian làm việc từ thứ 2 đến thứ 7</p>
                                        <p class="style_desc__3-KG-">7:30 - 16:30</p>
                                        <div class="style_list_group_img__3lRi8">
                                            <img src="~/doc_assets/img/time.3a877423.svg" />
                                        </div>
                                        <div>
                                            <span class="style_out_working_hours__3jLzT">Ngoài giờ hành chính</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><br />
                    <!--Google map-->
                    <div class="col-md-12">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3928.3573725056685!2d105.7496497147428!3d10.069775392803374!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31a087c47b51fe07%3A0xdf8cd7836ac5fd2!2zQsOhY2ggaMOzYSBYQU5I!5e0!3m2!1svi!2s!4v1629292631126!5m2!1svi!2s" width="1030" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


