@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">

<!-- doccure/  30 Nov 2019 04:11:34 GMT -->
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Doccure</title>

    <!-- Favicons -->
    <link type="image/x-icon" href="/doc_assets/img/favicon.png" rel="icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/doc_assets/css/bootstrap.min.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="/doc_assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="/doc_assets/plugins/fontawesome/css/all.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="/doc_assets/css/style.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="/doc_assets/js/html5shiv.min.js"></script>
        <script src="/doc_assets/js/respond.min.js"></script>
    <![endif]-->
    <style>
        .row {
            display: flex;
            flex-wrap: wrap;
            margin-right: -15px;
            margin-left: -15px;
        }

        hr {
            box-sizing: content-box;
            height: 0;
            overflow: visible;
        }

        li {
            list-style-type: none;
        }
            li#printVoucher {
                padding-top: 25px;
            }

        .booking-right-bill {
            border: 1px solid #cdd8ea;
            background: #fff;
            border-radius: 3px;
            padding: 30px;
            height: auto;
            transition: all .2s ease;
            margin: 20px 0;
            font-family: -apple-system, system-ui, BlinkMacSystemFont, "Nunito", Arial, "Helvetica Neue", Helvetica, serif, sans-serif;
        }

            .booking-right-bill h4 {
                color: #307be7;
                font-weight: bold;
                font-size: 15px;
                padding: 0 0 20px;
                margin-bottom: 20px;
                border-bottom: 1px solid #cdd8ea;
            }

            .booking-right-bill .brb-bill {
                border: 5px solid #cdd8ea;
                padding: 15px;
            }

        .brb-bill-sub-title {
            font-size: 15px;
            color: #4d4d4d;
            margin-bottom: 20px;
            font-weight: bold;
            text-align: center;
        }

        .brb-bill-sub-title-1 {
            font-size: 18px;
            color: #4d4d4d;
            margin-bottom: 15px;
            text-align: center;
        }

        .brb-bill p {
            font-size: 14px;
            color: #4d4d4d;
            margin-bottom: 10px;
        }

        .brb-bill h6 {
            color: #4d4d4d;
            font-size: 14px;
            margin-bottom: 5px;
            text-align: center;
        }

        .brb-bill-number {
            font-size: 100px;
            color: #307be7;
            font-weight: bold;
            margin: 20px 0 0px;
            line-height: 1.2em;
            text-align: center;
        }

        .brb-bill p span {
            font-weight: bold;
            color: #4d4d4d;
        }

        .format_barcode > svg {
            max-width: 100%;
            overflow: auto;
        }

        svg:not(:root) {
            vertical-align: middle;
        }

        .btn:not(:disabled):not(.disabled) {
            cursor: pointer;
        }

        .med_blue {
            color: #307be7 !important;
        }

        .mt-4 {
            margin-top: 1.5rem !important;
        }

        .mb-2 {
            margin-bottom: .5rem !important;
        }

        .mb-3 {
            margin-bottom: 1rem !important;
        }

        .format_barcode > svg {
            max-width: 100%;
            overflow: auto;
            text-align: center;
        }

        .format_barcode {
            text-align: center;
        }

        svg:not(:root) {
            vertical-align: middle;
        }
        .list-dv-khambenh {
            position: absolute;
            left: 15px;
            right: 15px;
            bottom: 7px;
            background-color: rgba(0, 0, 0, 0);
            padding: 140px 240px 200px 240px;
            padding-bottom: 200px;
            text-align: center;
        }

            .list-dv-khambenh ul a {
                display: block;
                text-transform: none;
                color: #fff !important;
                font-size: 12px;
                text-align: center;
                outline: none;
                background-color: #fff;
                color: rgba(4, 123, 231, 0.8) !important;
                text-transform: uppercase;
                max-width: 300px;
                margin: 0 auto;
                border: 1px solid #fff;
                font-weight: 700;
                border: 2px solid #dfe3eb;
            }

            .list-dv-khambenh ul {
                list-style: none;
                padding: 0;
                margin: 0;
            }

                .list-dv-khambenh ul li {
                    float: left;
                    width: 50%;
                }

        /*img {
            border: none;
            height: auto;
            max-width: 100%;
        }*/

        .sst {
            margin-bottom: 35px;
            color: #12263f;
            text-align: center;
            font-weight: 500;
            position: relative;
            text-transform: uppercase;
            z-index: 2;
            font-size: 1.25rem;
        }

            .sst span {
                position: relative;
            }

                .sst span:after {
                    content: "";
                    position: absolute;
                    border-bottom: 5px solid #9bf4cf;
                    bottom: 4px;
                    left: 0;
                    width: 100%;
                    z-index: -1;
                }

        .div, h3 {
            font-family: Arial,sans-serif;
        }

        .action-logout {
            background-color: #f7f8f9;
            color: #333 !important;
        }

            .action-logout .text-logout-bt {
                color: #333 !important;
                display: block;
                padding: 10px 0px 8px 10px !important;
            }

        .control-dropdown {
            margin-top: 0px;
            overflow: hidden;
            padding: 15px;
        }
        @@media(max-width:991px){
            #printVoucher{
                display:none;
            }
        }
    </style>
</head>
<body>
    <!-- Messenger Plugin chat Code -->
    <div id="fb-root"></div>

    <!-- Your Plugin chat code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>

    <script>
        var chatbox = document.getElementById('fb-customer-chat');
        chatbox.setAttribute("page_id", "105803435145304");
        chatbox.setAttribute("attribution", "biz_inbox");

        window.fbAsyncInit = function () {
            FB.init({
                xfbml: true,
                version: 'v12.0'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>    
    <!-- Main Wrapper -->
    <section class="main-wrapper d-print-none">
        <!-- Header -->
        <header class="header">
            <nav class="navbar navbar-expand-lg header-nav">
                <div class="navbar-header">
                    <a id="mobile_btn" href="javascript:void(0);">
                        <span class="bar-icon">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </a>
                    <a href="index-2.html" class="navbar-brand logo">
                        <img src="/doc_assets/img/logo.png" class="img-fluid" alt="Logo">
                    </a>
                </div>
                <div class="main-menu-wrapper">
                    <div class="menu-header">
                        <a href="index-2.html" class="menu-logo">
                            <img src="/doc_assets/img/logo.png" class="img-fluid" alt="Logo">
                        </a>
                        <a id="menu_close" class="menu-close" href="javascript:void(0);">
                            <i class="fas fa-times"></i>
                        </a>
                    </div>
                    <ul class="main-nav">
                        <li class="has-submenu">
                            <a href="/Home/Index">Trang chủ</a>
                        </li>
                        <li class="has-submenu">
                            <a href="/Home/Intro">Giới thiệu</a>
                        </li>
                        <li class="has-submenu">
                            <a href="/Home/Quytrinh">Quy trình</a>
                        </li>
                        <li class="has-submenu">
                            <a href="/Home/Help">Hướng dẫn sử dụng</a>
                        </li>
                        <li class="has-submenu">
                            <a href="/Home/Contact">Liên hệ</a>
                        </li>
                        <li class="has-submenu" id="printVoucher">
                            <input placeholder="Nhập mã phiếu khám" id="pkb" />
                            <button class="btn btn-info" onclick="printPKB()">In Phiếu</button>
                        </li>
                    </ul>
                </div>
                <ul class="nav header-navbar-rht">

                    @if (User.Identity.IsAuthenticated)
                    {
                    <li class="nav-item dropdown has-arrow">
                        <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                            <span><i class="fas fa-user-circle mr-2"></i>Thông tin tài khoản</span><span class="user-img"></span>
                        </a>
                        <div class="dropdown-menu">
                            <div class="user-header">
                                <div class="avatar avatar-sm">
                                    <img src="~/doc_assets/img/patients/user.svg" alt="User Image" class="avatar-img rounded-circle">
                                </div>
                                <div class="user-text">
                                    <h6>Xin chào!</h6>
                                    <p class="text-muted mb-0">@User.Identity.Name</p>
                                </div>
                            </div>
                            <a class="dropdown-item" href="/Patient/Patients/ProfilePatient">Hồ sơ bệnh nhân</a>
                            <a class="dropdown-item" href="/Patient/Patients/ManageMB/@User.Identity.Name">Phiếu khám bệnh</a>
                            <div class="action-logout">
                                <a class="text-logout-bt" href="/Users/Auth/SignOut">
                                    <i class="fas fa-sign-out-alt mr-2"></i>Thoát
                                </a>
                            </div>
                        </div>
                    </li>
                    @if (User.IsInRole("Patient"))
                        {

                        }
                    }
                    else
                    {
                    <li class="nav-item">
                        <a class="nav-link header-login" href="/Users/Auth/SignIn">Đăng nhập</a>
                    </li>
                    }


                </ul>
            </nav>
        </header>
        <!-- /Header -->
        <!-- Home Banner -->
        <section class="section section-search">
            <div class="container-fluid">
                <div class="banner-wrapper">
                    <div class="banner-header text-center">
                        <div class="list-dv-khambenh">
                            <h2 class="sst">
                                <span>Các hình thức đặt khám</span>
                            </h2>
                            <ul>
                                <li>
                                    <a onclick="addType('doctor')" class="btn">
                                        <img src="~/doc_assets/img/dv2.svg" /> Khám theo bác sĩ
                                    </a>
                                </li>
                                <li>
                                    <a onclick="addType('dated')" class="btn">
                                        <img src="~/doc_assets/img/dv1.svg" /> Khám theo ngày
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <!-- /Home Banner -->
        <!-- Clinic and Specialities -->
        <section class="section section-specialities">
            <div class="container-fluid">
                <div class="section-header text-center">
                    <h3 class="font-weight-bold">CHUYÊN KHOA</h3>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-9">
                        <!-- Slider -->
                        <div class="specialities-slider slider">

                            <!-- Slider Item -->
                            <div class="speicality-item text-center">
                                <div class="speicality-img">
                                    <img src="/doc_assets/img/specialities/specialities-01.png" class="img-fluid" alt="Speciality">
                                    <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                </div>
                                <p>Nội thận</p>
                            </div>
                            <!-- /Slider Item -->
                            <!-- Slider Item -->
                            <div class="speicality-item text-center">
                                <div class="speicality-img">
                                    <img src="/doc_assets/img/specialities/specialities-02.png" class="img-fluid" alt="Speciality">
                                    <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                </div>
                                <p>Thần kinh</p>
                            </div>
                            <!-- /Slider Item -->
                            <!-- Slider Item -->
                            <div class="speicality-item text-center">
                                <div class="speicality-img">
                                    <img src="/doc_assets/img/specialities/specialities-03.png" class="img-fluid" alt="Speciality">
                                    <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                </div>
                                <p>Xương khớp chỉnh hình</p>
                            </div>
                            <!-- /Slider Item -->
                            <!-- Slider Item -->
                            <div class="speicality-item text-center">
                                <div class="speicality-img">
                                    <img src="/doc_assets/img/specialities/specialities-04.png" class="img-fluid" alt="Speciality">
                                    <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                </div>
                                <p>Tim mạch</p>
                            </div>
                            <!-- /Slider Item -->
                            <!-- Slider Item -->
                            <div class="speicality-item text-center">
                                <div class="speicality-img">
                                    <img src="/doc_assets/img/specialities/specialities-05.png" class="img-fluid" alt="Speciality">
                                    <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                </div>
                                <p>Răng hàm mặt</p>
                            </div>
                            <div class="speicality-item text-center">
                                <div class="speicality-img">
                                    <img src="/assets/img/specialities/TK.png" class="img-fluid" alt="Speciality">
                                    <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                </div>
                                <p>Thần kinh</p>
                            </div>
                            <div class="speicality-item text-center">
                                <div class="speicality-img">
                                    <img src="/assets/img/specialities/Biochemistry.png" class="img-fluid" alt="Speciality">
                                    <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                </div>
                                <p>Hóa trị</p>
                            </div>
                            <div class="speicality-item text-center">
                                <div class="speicality-img">
                                    <img src="/assets/img/specialities/NT.png" class="img-fluid" alt="Speciality">
                                    <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                </div>
                                <p>H.ảnh học can thiệp</p>
                            </div>
                            <div class="speicality-item text-center">
                                <div class="speicality-img">
                                    <img src="/assets/img/specialities/ktl.png" class="img-fluid" alt="Speciality">
                                    <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                </div>
                                <p>Ung bướu</p>
                            </div>
                            <div class="speicality-item text-center">
                                <div class="speicality-img">
                                    <img src="/assets/img/specialities/dscd.png" class="img-fluid" alt="Speciality">
                                    <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                </div>
                                <p>Phổi</p>
                            </div>
                            <div class="speicality-item text-center">
                                <div class="speicality-img">
                                    <img src="/assets/img/specialities/haumon.png" class="img-fluid" alt="Speciality">
                                    <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                </div>
                                <p>Hậu môn học</p>
                            </div>
                            <div class="speicality-item text-center">
                                <div class="speicality-img">
                                    <img src="/assets/img/specialities/noitiet.png" class="img-fluid" alt="Speciality">
                                    <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                </div>
                                <p>Nội tiết</p>
                            </div>
                            <div class="speicality-item text-center">
                                <div class="speicality-img">
                                    <img src="/assets/img/specialities/da.png" class="img-fluid" alt="Speciality">
                                    <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                </div>
                                <p>Da liễu</p>
                            </div>
                            <div class="speicality-item text-center">
                                <div class="speicality-img">
                                    <img src="/assets/img/specialities/pallia.png" class="img-fluid" alt="Speciality">
                                    <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                </div>
                                <p>Chăm sóc giảm nhẹ</p>
                            </div>
                            <div class="speicality-item text-center">
                                <div class="speicality-img">
                                    <img src="/assets/img/specialities/mat.PNG" class="img-fluid" alt="Speciality">
                                    <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                </div>
                                <p>Mắt</p>
                            </div>
                            <div class="speicality-item text-center">
                                <div class="speicality-img">
                                    <img src="/assets/img/specialities/EB.png" class="img-fluid" alt="Speciality">
                                    <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                </div>
                                <p>Nhi</p>
                            </div>
                            <div class="speicality-item text-center">
                                <div class="speicality-img">
                                    <img src="/assets/img/specialities/Obstestrics.png" class="img-fluid" alt="Speciality">
                                    <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                </div>
                                <p>Sản-phụ khoa</p>
                            </div>
                            <div class="speicality-item text-center">
                                <div class="speicality-img">
                                    <img src="/assets/img/specialities/pttm.png" class="img-fluid" alt="Speciality">
                                    <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                </div>
                                <p>Phẫu thuật thẫm mỹ</p>
                            </div>
                            <div class="speicality-item text-center">
                                <div class="speicality-img">
                                    <img src="/assets/img/specialities/Hematology.png" class="img-fluid" alt="Speciality">
                                    <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                </div>
                                <p>Huyết học</p>
                            </div>
                            <!-- /Slider Item -->

                        </div>
                        <!-- /Slider -->

                    </div>
                </div>
            </div>
        </section>
        <!-- Clinic and Specialities -->
        <!-- Availabe Features -->
        <section class="section section-features">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-5 features-img">
                        <img src="/doc_assets/img/features/feature.png" class="img-fluid" alt="Feature">
                    </div>
                    <div class="col-md-7">
                        <div class="section-header">
                            <h3 class="font-weight-bold">TRANG THIẾT BỊ HIỆN ĐẠI</h3>
                        </div>
                        <div class="features-slider slider">
                            <!-- Slider Item -->
                            <div class="feature-item text-center">
                                <img src="/doc_assets/img/features/feature-01.jpg" class="img-fluid" alt="Feature">
                                <p>Khu bệnh nhân</p>
                            </div>
                            <!-- /Slider Item -->
                            <!-- Slider Item -->
                            <div class="feature-item text-center">
                                <img src="/doc_assets/img/features/feature-02.jpg" class="img-fluid" alt="Feature">
                                <p>Phòng thử nghiệm</p>
                            </div>
                            <!-- /Slider Item -->
                            <!-- Slider Item -->
                            <div class="feature-item text-center">
                                <img src="/doc_assets/img/features/feature-03.jpg" class="img-fluid" alt="Feature">
                                <p>Phòng chăm sóc</p>
                            </div>
                            <!-- /Slider Item -->
                            <!-- Slider Item -->
                            <div class="feature-item text-center">
                                <img src="/doc_assets/img/features/feature-04.jpg" class="img-fluid" alt="Feature">
                                <p>Phòng thí nghiệm</p>
                            </div>
                            <!-- /Slider Item -->
                            <!-- Slider Item -->
                            <div class="feature-item text-center">
                                <img src="/doc_assets/img/features/feature-05.jpg" class="img-fluid" alt="Feature">
                                <p>Phòng phẫu thuật</p>
                            </div>
                            <!-- /Slider Item -->
                            <!-- Slider Item -->
                            <div class="feature-item text-center">
                                <img src="/doc_assets/img/features/feature-06.jpg" class="img-fluid" alt="Feature">
                                <p>Nhà thuốc</p>
                            </div>
                            <!-- /Slider Item -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Availabe Features -->
        <!-- Footer -->
        <footer class="footer">

            <!-- Footer Top -->
            <div class="footer-top">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-2 col-md-3">
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="footer-widget footer-about">
                                <div class="footer-logo">
                                    <img src="/doc_assets/img/footer-logo.png" alt="logo">
                                </div>
                                <div class="footer-about-content">
                                    <p>Doccure có đội ngũ chuyên gia, bác sĩ, dược sĩ và điều dưỡng trình độ chuyên môn cao, giàu kinh nghiệm. tận tâm và chuyên nghiệp. Luôn đặt người bệnh làm trung tâm, Doccure cam kết đem đến dịch vụ chăm sóc sức khỏe tốt nhất.</p>
                                    <div class="social-icon">
                                        <ul>
                                            <li>
                                                <a href="#" target="_blank"><i class="fab fa-facebook-f"></i> </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank"><i class="fab fa-twitter"></i> </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank"><i class="fab fa-dribbble"></i> </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <div class="footer-widget footer-contact">
                                <h2 class="footer-title">Liên hệ</h2>
                                <div class="footer-contact-info">
                                    <div class="footer-address">
                                        <span><i class="fas fa-map-marker-alt"></i></span>
                                        <p> 437c/4 Long Hòa, Bình Thủy, Cần Thơ</p>
                                    </div>
                                    <p>
                                        <i class="fas fa-phone-alt"></i>
                                        0977129155
                                    </p>
                                    <p class="mb-0">
                                        <i class="fas fa-envelope"></i>
                                        doccure@gmail.com
                                    </p>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-2 col-md-3">
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- /Footer -->
    </section>
    <div id="voucher" class="d-none" style="max-width:80mm;"></div>
    <!-- /Main Wrapper -->
    <!-- jQuery -->
    <script src="/doc_assets/js/jquery.min.js"></script>
    <script src="~/assets/js/moment.min.js"></script>
    <script src="~/assets/js/JsBarcode.code128.min.js"></script>
    <script>
        function printPKB() {
            let pkb = document.getElementById('pkb').value;
            $.post('/home/GetPKBByID', { pkb: pkb }, (d) => {
                console.log(d);
                if (d) {
                    voucher.innerHTML = `<div class="brb-bill-sub-title text-center">
                                                                        <b>BỆNH VIỆN TẬN TÂM</b>
                                                                    </div>
                                                                    <div class="brb-bill-sub-title-1 text-center">
                                                                        <b>PHIẾU KHÁM BỆNH</b>
                                                                        <p>(Mã phiếu: ${d.idPKB})</p>
                                                                    </div>
                                                                    <h6 class="text-center" id="bill-6-phongkham">Phòng khám: ${d.roomName}</h6>
                                                                    <h6 class="text-center">Chuyên khoa: <span id="bill-6-khoa">${d.deptName}</span></h6>
                                                                    <div class="brb-bill-number text-center ">${d.sttPatient}</div>
                                                                    <p>Ngày khám: <span>${moment(d.dated).format('DD-MM-YYYY')}</span> (<span id="bill-6-buoi" class="capital">Buổi ${d.ses}</span>)</p>
                                                                    <p>Giờ khám dự kiến: <span id="bill-6-giokham">${d.rangeTime}</span></p>
                                                                    <p>Họ tên: <span class="bill-6-name">${d.namePatient}</span></p>
                                                                    <p>
                                                                        Giới tính:
                                                                        <span class="bill-6-gioitinh">${d.sexP == true ? "Nữ" : "Nam"}</span>
                                                                    </p>
                                                                    <p>
                                                                        Năm sinh:
                                                                        <span class="bill-6-year">${moment(d.DOB).format('DD-MM-YYYY')}</span>
                                                                    </p>
                                                                    <p>
                                                                        Địa chỉ:
                                                                        <span class="bill-6-city">${d.addP}</span>
                                                                    </p>

                                                                    <p>
                                                                        <em>Vui lòng đến trực tiếp phòng khám trước giờ hẹn 15-30 phút để khám bệnh.</em>
                                                                    </p>
                                                                    <p>Tiền khám: <b>${d.price.toLocaleString(undefined, { maximumFractionDigits: 0 })} đồng</b></p>
                                                                    <hr>
                                                                    <p>
                                                                        Số hồ sơ (Mã số bệnh nhân):
                                                                        <br>
                                                                        <span class="bill-6-code"></span>
                                                                    </p>
                                                                    <div class="format_barcode text-center">
                                                                        <svg width="450px" height="147px" name="barcode" x="0px" y="0px" viewBox="0 0 310 147" version="1.1" style="transform: translate(0,0)">
                                                                        </svg>
                                                                    </div>
                                                                    <p>
                                                                        <em>
                                                                            Ghi chú: Phiếu khám bệnh chỉ có giá trị trong ngày từ <b>6h30 - 16h30</b>
                                                                        </em>
                                                                    </p>
                                                                </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                </div>`
                    document.getElementById('voucher').classList.remove("d-none");
                    let bc = document.getElementsByName("barcode")
                    JsBarcode(bc[0], d.idPatient, {});
                    print()
                } else {
                    alert("Không tìm thấy mã phiếu")
                }

            })
        }
        window.onafterprint = (event) => {
            let voucher = document.getElementById('voucher');
            voucher.innerHTML = '';
            voucher.classList.add('d-none')
        };
        var infos = {
            info: [{
                dept: null,
                doctor: null,
                timeRange: null,
                room: null,
                edu: null,
                dated: null,
                timeChoose: null
            }],
            patient: null,
            type: {
                type: "doctor"
            },
            deptType: {
                index: 0,
                type: 0
            }
        }
        function addType(t) {
            infos.type = t
            localStorage.setItem('infos', JSON.stringify(infos));
            window.location.href = "/Patient/Patients/ChooseProfile";

        }
    </script>
    <!-- Bootstrap Core JS -->
    <script src="/doc_assets/js/popper.min.js"></script>
    <script src="/doc_assets/js/bootstrap.min.js"></script>

    <!-- Slick JS -->
    <script src="/doc_assets/js/slick.js"></script>

    <!-- Custom JS -->
    <script src="/doc_assets/js/script1.js"></script>

</body>

<!-- doccure/  30 Nov 2019 04:11:53 GMT -->
</html>