@model List<WebApp.Areas.Admin.Models.Department>
<!-- doccure/calendar.html  30 Nov 2019 04:12:18 GMT -->
@{
    Layout = null;
}
<head>
    <meta charset="utf-8">
    <title>Doccure</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

    <!-- Favicons -->
    <link href="/doc_assets/img/favicon.png" rel="icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/doc_assets/css/bootstrap.min.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="/doc_assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="/doc_assets/plugins/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/doc_assets/css/style.css">
    <link href="~/specialist/plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet" />

    <style>

        .action-logout {
            background-color: #f7f8f9;
            color: #333 !important;
        }

            .action-logout .text-logout-bt {
                color: #333 !important;
                display: block;
                padding: 10px 0px 8px 10px !important;
            }

        .control-dropdown {
            margin-top: 0px;
            overflow: hidden;
            padding: 15px;
        }

        .card-body {
            position: relative
        }

        .container-fluid {
            padding-left: 20px;
            padding-right: 20px;
        }

        #close-calendar {
            position: absolute;
            bottom: 0;
            right: 2px;
        }

        #section-find-doctor-2 .booking-right-calendar .brc-scroll-group .brc-scroll-group-2 ul li {
            padding: 8px 20px;
            border: 1px solid #307be7;
            transition: all .2s ease;
            border-radius: 2px;
            margin-right: 10px;
            margin-bottom: 10px;
            cursor: pointer;
            text-align: center;
        }

            #section-find-doctor-2 .booking-right-calendar .brc-scroll-group .brc-scroll-group-2 ul li a {
                color: #307be7;
                font-size: 13px;
            }

        #section-find-doctor-1 .booking-right-calendar .brc-btn.show, #section-find-doctor-2 .booking-right-calendar .brc-btn.show {
            height: auto;
            opacity: 1;
            margin: 30px 0;
        }

        .row {
            display: flex;
            flex-wrap: wrap;
            margin-right: -15px;
            margin-left: -15px;
        }

        .btn--sm {
            padding: 0.525rem 1.125rem 0.425rem;
            line-height: 1.5;
        }

        .btn--rounded-gray {
            background: transparent;
            border: 1px solid #9ba1af !important;
            color: #7a8188 !important;
        }

        .btn--rounded-gray {
            width: 100%;
            font-weight: 700;
            transition: all 0.3s;
            position: relative;
        }

        .btn--rounded-blue {
            background: #307be7;
            border: 1px solid #307be7 !important;
            color: #fff !important;
            width: 100%;
            font-weight: 700;
            transition: all 0.3s;
            position: relative;
        }

        .btn {
            display: inline-block;
            text-decoration: none;
            text-transform: uppercase;
            text-align: center;
            font-size: 14px;
            border-radius: 2px;
            margin-right: 10px;
        }

            .btn.btn-outline-primary {
                display: inline-block;
                text-decoration: none;
                text-transform: none;
                text-align: center;
                font-size: 12px;
                border-radius: 2px;
            }

        .doc-slot-list {
            height: fit-content !important;
        }

        .booking-left-menu .booking-left-menu-top {
            margin-bottom: 20px;
            border-width: 1px;
            border-style: solid;
            border-color: rgb(205, 216, 234);
            border-image: initial;
            border-radius: 3px;
            padding: 15px;
            background: rgb(255, 255, 255);
        }

            .booking-left-menu .booking-left-menu-top .blmt-name {
                text-transform: uppercase;
                font-size: 14px;
                font-weight: bold;
                color: rgb(77, 77, 77);
                margin-bottom: 10px;
            }

            .booking-left-menu .booking-left-menu-top .blmt-info {
                font-size: 14px;
                margin-bottom: 5px;
                color: rgb(77, 77, 77);
                text-transform: capitalize;
            }

        #section-find-doctor-2 {
            margin-bottom: 20px;
        }

            .find-doctor-left-1 {
                border-radius: 3px;
            }

                .find-doctor-left-1 h4 {
                    color: rgb(255, 255, 255);
                    font-size: 15px;
                    padding: 15px;
                    border-radius: 3px 3px 0px 0px;
                    margin: 0px;
                    background: linear-gradient(rgb(66, 165, 245) 0px, rgb(33, 150, 243) 100%);
                }

        .find-doctor-left-1 ul {
            padding: 15px;
            border-left: 1px solid rgb(205, 216, 234);
            border-right: 1px solid rgb(205, 216, 234);
            border-bottom: 1px solid rgb(205, 216, 234);
            background: rgb(255, 255, 255);
            border-radius: 0px 0px 3px 3px;
        }

        .find-doctor-left-1 ul li:first-child {
            color: rgb(48, 123, 231);
            font-weight: 700;
        }

        .find-doctor-left-1 ul li {
            font-size: 13px;
            color: rgb(77, 77, 77);
            margin-bottom: 15px;
        }

            .find-doctor-left-1 ul li i {
                margin-right: 15px;
                color: rgb(48, 123, 231);
            }

        li {
            list-style-type: none;
        }

        .booking-left-menu-hotline {
            margin-top: 20px;
            border-width: 1px;
            border-style: solid;
            border-color: rgb(205, 216, 234);
            border-image: initial;
            background: rgb(255, 255, 255);
            border-radius: 3px;
            padding: 20px;
        }

            .booking-left-menu-hotline .blmh-name {
                color: rgb(77, 77, 77);
                font-size: 12px;
                font-weight: bold;
                margin-bottom: 5px;
                text-transform: uppercase;
            }

            .booking-left-menu-hotline a {
                font-size: 30px;
                color: rgb(48, 123, 231);
                font-weight: bold;
                letter-spacing: 5px;
                transition: all 0.2s ease 0s;
            }

        .type.dropdown-toggle.nav-link {
            border: 1px solid;
            background: #fff;
            border-color: #307be7;
            border-radius: 99px;
            color: #307be7 !important;
            min-width: 125px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            font-size: 12px;
            letter-spacing: 0;
            min-height: 38px;
            font-weight: 600;
            transition: all 0.2s linear;
        }
        th.fc-day-header.fc-widget-header.fc-sun {
            color: #fa531f;
        }

        th.fc-day-header.fc-widget-header.fc-sat {
            color: #faa01f;
        }
        .fc-title {
            color: white;
            font-weight: 700;
            font-family: "Segoe UI","Segoe UI Emoji","Segoe UI Symbol";
        }
        
    </style>
</head>
<body>

    <!-- Main Wrapper -->
    <div class="main-wrapper">

        <!-- Header -->
        <header class="header">
            <nav class="navbar navbar-expand-lg header-nav">
                <div class="navbar-header">
                    <a id="mobile_btn" href="javascript:void(0);">
                        <span class="bar-icon">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </a>
                    <a href="index-2.html" class="navbar-brand logo">
                        <img src="/specialist/img/logo.png" class="img-fluid" alt="Logo">
                    </a>
                </div>
                <div class="main-menu-wrapper">
                    <div class="menu-header">
                        <a href="index-2.html" class="menu-logo">
                            <img src="/specialist/img/logo.png" class="img-fluid" alt="Logo">
                        </a>
                        <a id="menu_close" class="menu-close" href="javascript:void(0);">
                            <i class="fas fa-times"></i>
                        </a>
                    </div>
                    <ul class="main-nav">
                        <li class="has-submenu">
                            <a href="/">Trang chủ</a>
                        </li>
                        <li class="has-submenu">
                            <a href="/Home/Intro">Giới thiệu</a>
                        </li>
                        <li class="has-submenu">
                            <a href="/Home/Quytrinh">Quy trình</a>
                        </li>
                        <li class="has-submenu">
                            <a href="/Home/Help">Hướng dẫn sử dụng</a>
                        </li>
                        <li class="has-submenu">
                            <a href="/Home/Contact">Liên hệ</a>
                        </li>
                    </ul>
                </div>
                <ul class="nav header-navbar-rht">
                    <li class="nav-item contact-item">
                        <div class="header-contact-img">
                            <i class="far fa-hospital"></i>
                        </div>
                        <div class="header-contact-detail">
                            <p class="contact-header">Liên hệ</p>
                            <p class="contact-info-header">0977129155</p>
                        </div>
                    </li>

                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item dropdown has-arrow">
                            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                                <span><i class="fas fa-user-circle mr-2"></i>Thông tin tài khoản</span><span class="user-img"></span>
                            </a>
                            <div class="dropdown-menu">
                                <div class="user-header">
                                    <div class="avatar avatar-sm">
                                        <img src="~/doc_assets/img/patients/user.svg" alt="User Image" class="avatar-img rounded-circle">
                                    </div>
                                    <div class="user-text">
                                        <h6>Xin chào!</h6>
                                        <p class="text-muted mb-0">@User.Identity.Name</p>
                                    </div>
                                </div>
                                <a class="dropdown-item" href="/Patient/Patients/ProfilePatient">Hồ sơ bệnh nhân</a>
                                <a class="dropdown-item" href="/Patient/Patients/ManageMB/@User.Identity.Name">Phiếu khám bệnh</a>
                                <div class="action-logout">
                                    <a class="text-logout-bt" href="/Users/Auth/SignOut">
                                        <i class="fas fa-sign-out-alt mr-2"></i>Thoát
                                    </a>
                                </div>
                            </div>
                        </li>
                        @if (User.IsInRole("Patient"))
                        {

                        }
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link header-login" href="/Users/Auth/SignIn">Đăng nhập</a>
                        </li>
                    }
                </ul>
            </nav>
        </header>
        <!-- /Header -->
        <!-- Breadcrumb -->
        <div class="breadcrumb-bar">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-8 col-12">
                        <nav aria-label="breadcrumb" class="page-breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index-2.html">Trang chủ</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Khám theo bác sĩ</li>
                            </ol>
                        </nav>
                        <h3 class="breadcrumb-title">Đặt khám</h3>
                    </div>
                    <div class="col-md-4 col-12 d-md-block d-none">
                        <div class="sort-by">
                            <ul style="list-style:none">
                                <li class="nav-item dropdown has-arrow" style="list-style:none">
                                    <a href="#" class="type dropdown-toggle nav-link text-uppercase" data-toggle="dropdown">
                                        <span>Chọn hình thức đăng ký</span><span class="user-img"></span>
                                    </a>
                                    <div class="dropdown-menu text-uppercase">
                                        <a class="dropdown-item" href="/Patient/Home/BookingByDoctor">Đặt lịch theo bác sĩ</a>
                                        <hr />
                                        <a class="dropdown-item" href="/Patient/Home/BookingByDay">Đặt lịch theo ngày</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Breadcrumb -->
        <!-- Page Content -->
        <div class="content">
            <div class="container-fluid">

                <div class="row">

                    <!-- Calendar Events -->
                    <div class="col-md-4 col-lg-3 theiaStickySidebar">
                        <!-- Profile Sidebar -->
                        <div class="booking-left-menu shadow-2">
                            <div class="booking-left-menu-top shadow-2" id="patientDetail">

                            </div>
                            <div id="section-find-doctor-2">
                                <div class="find-doctor-left-1 shadow-2" id="doctorDetail">

                                </div>
                            </div>
                            <div class="booking-left-menu-hotline text-center shadow-2">
                                <div class="blmh-name">Hỗ trợ chuyên môn</div>
                                <a href="tel:19007178" class="d-block">19007178</a>
                                <hr>
                                <div class="blmh-name">Hỗ trợ kỹ thuật</div>
                                <a href="tel:19002115" class="d-block">19002115</a>
                            </div>
                        </div>
                    </div>
                    <!-- /Calendar Events -->
                    <!-- Calendar -->
                    <div class="col-md-8 col-lg-9">
                        <div class="card">
                            <div class="card-body">
                                <div id="calender">
                                </div>
                                <div class="card-body">
                                    <a class="btn btn-outline-primary d-none" id="close-calendar">Đóng</a>
                                </div>
                                <div id="timeRange" class="d-none">
                                    <div class="row">
                                        <div class="col-6"><h4 class="w-100">LỊCH KHÁM BUỔI SÁNG</h4></div>
                                        <div class="col-6"><h4 class="w-100">LỊCH KHÁM BUỔI CHIỀU</h4></div>
                                    </div>
                                    <div class="row">
                                        <div class="doc-times col-6" id="timeRanges"></div>
                                        <div class="doc-times col-6" id="timeRangec"></div>
                                    </div>
                                </div>
                                <hr />
                                <div id="confirm-thong-tin" class="brc-btn row align-items-center text-center show">
                                    <div class="col-lg-6 col-12 ml-auto">
                                        <div class="row">
                                            <div class="col-6">
                                                <a class="btn btn--rounded-gray btn--sm" href="/Patient/Home/BookingByDoctor">QUAY LẠI</a>
                                            </div>
                                            <div class="col-6">
                                                <a class="btn btn--rounded-blue btn--sm" onclick="next()">TIẾP TỤC</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- /Calendar -->

                </div>

            </div>

        </div>
        <!-- /Page Content -->
        <!-- Footer -->
        <footer class="footer">

            <!-- Footer Top -->
            <div class="footer-top">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-2 col-md-3">
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="footer-widget footer-about">
                                <div class="footer-logo">
                                    <img src="/doc_assets/img/footer-logo.png" alt="logo">
                                </div>
                                <div class="footer-about-content">
                                    <p>Doccure có đội ngũ chuyên gia, bác sĩ, dược sĩ và điều dưỡng trình độ chuyên môn cao, giàu kinh nghiệm. tận tâm và chuyên nghiệp. Luôn đặt người bệnh làm trung tâm, Doccure cam kết đem đến dịch vụ chăm sóc sức khỏe tốt nhất.</p>
                                    <div class="social-icon">
                                        <ul>
                                            <li>
                                                <a href="#" target="_blank"><i class="fab fa-facebook-f"></i> </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank"><i class="fab fa-twitter"></i> </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank"><i class="fab fa-dribbble"></i> </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <div class="footer-widget footer-contact">
                                <h2 class="footer-title">Liên hệ</h2>
                                <div class="footer-contact-info">
                                    <div class="footer-address">
                                        <span><i class="fas fa-map-marker-alt"></i></span>
                                        <p> 437c/4 Long Hòa, Bình Thủy, Cần Thơ</p>
                                    </div>
                                    <p>
                                        <i class="fas fa-phone-alt"></i>
                                        0977129155
                                    </p>
                                    <p class="mb-0">
                                        <i class="fas fa-envelope"></i>
                                        doccure@gmail.com
                                    </p>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-2 col-md-3">
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <!-- /Footer -->

    </div>

    <script src="/doc_assets/js/jquery.min.js"></script>
    <script src="~/doc_assets/js/moment.min.js"></script>
    <script src="~/doc_assets/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/doc_assets/js/fullcalendar.min.js"></script>
    <script>

        var j = jQuery.noConflict();
        var infos = null;
        var selectedEvent = null;
        var index = 0;
        j(document).ready(() => {
            infos = JSON.parse(localStorage.getItem("infos"));
            index = infos.deptType.index;
            if (infos.patient) {
                document.getElementById('patientDetail').innerHTML = `<div class="blmt-name">
                                            <div class="nav-title-name">${infos.patient?.namePatient}</div>
                                        </div>
                                        <div class="blmt-info">Địa chỉ: ${infos.patient?.addP}</div>
                                        <div class="blmt-info">Điện thoại: ${infos.patient?.phone}</div>`
            }
            document.getElementById('doctorDetail').innerHTML = infos.info[index].doctor
                ? `<h4 class="title1">THÔNG TIN KHÁM</h4>
                                            <ul>
                                                <li class="circle"><i class="far fa-hospital"></i>BỆNH VIỆN TẬN TÂM</li>
                                                <li class="circle"><i class="fas fa-file-medical"></i>${infos.info[index].doctor.deptName}</li>
                                                <li class="circle"><i class="fas fa-user-md"></i>${infos.info[index].doctor.eduName}<span>${infos.info[index].doctor.nameEmp}</span></li>
                                                <li class="circle" id="datechoose"><i class="far fa-calendar-check"></i>Ngày khám: </li>
                                                <li class="circle" id="hourchoose"><i class="far fa-clock"></i>Giờ khám: </li>
                                            </ul>`
                : `Chưa có thông tin bác sĩ`;
        })


        j(document).ready(() => {
            j.ajax({
                type: "GET",
                async: false,
                url: "/patient/home/getTimeRange",
                success: function (data) {
                    console.log(data);
                    infos.timeRange = data;
                },
                error: function (error) {
                    console.log('get time range failed');
                }
            })
            j.ajax({
                type: "POST",
                async: false,
                data: { id: infos.info[index].doctor.idEmp },
                url: "/Patient/home/GetDepartmentByIdEmp",
                success: function (data) {
                    console.log(data);
                    infos.info[index].dept = data;
                },
                error: function (error) {
                    console.log('get dept failed');
                }
            })

            j.ajax({
                type: "POST",
                async: false,
                data: { id: infos.info[index].doctor.idEmp },
                url: "/patient/home/GetEducationByIdEmp",
                success: function (data) {
                    console.log(data);
                    infos.info[index].edu = data;
                },
                error: function (error) {
                    console.log('get edu failed');
                }
            })
            j.ajax({
                type: "GET",
                async: false,
                url: "/patient/home/getRoom",
                success: function (data) {
                    console.log(data);
                    infos.room = data;
                },
                error: function (error) {
                    console.log('get room failed');
                }
            })
            FetchEventAndRenderCalendar(infos.info[index].doctor.idEmp);
        })

        function FetchEventAndRenderCalendar(id) {
            document.getElementById('calender').innerHTML = '';
            events = [];
            j.ajax({
                type: "POST",
                url: "/patient/home/GetScheduleByDoctor",
                data: { id: id },
                success: function (data) {
                    console.log(data);
                    j.each(data, function (i, v) {
                        let s = []
                        let c = []
                        let timerange = v.timeRange.split(',')
                        for (var i = 0; i < timerange.length; i++) {
                            for (tr of infos.timeRange) {
                                if (tr.idPeriod === parseInt(timerange[i])) {
                                    if (tr.idSes == 1) {
                                        s.push(tr)
                                    }
                                    if (tr.idSes == 2) {
                                        c.push(tr)
                                    }
                                }
                            }
                        }
                        events.push({
                            eventID: v.id,
                            title: `${s.length > 0 ? 'Sáng: ' + s.length + ' tiếng' : ''}${c.length > 0 ? (s.length > 0 && c.length > 0 ? '\n' : '') + 'Chiều: ' + c.length + ' tiếng' : ''}`,
                            description: v.description,
                            timeRange: v.timeRange,
                            ordinalRoom: v.ordinalRoom,
                            start: v.dated,
                            end: null,
                            color: v.color,
                            allDay: true
                        });
                        console.log(events);
                    })
                    GenerateCalender(events);
                },
                error: function (error) {
                    alert('failed');
                }
            })
        }
        function GenerateCalender(events) {
            j('#calender').fullCalendar('destroy');
            j('#calender').fullCalendar({
                //hiddenDays: [0],
                monthNames: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6', 'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
                monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
                dayNames: ['CN', 'Thứ 2', 'Thứ 3', 'Thứ 4', 'Thứ 5', 'Thứ 6', 'Thứ 7'],
                dayNamesShort: ['CN', 'Thứ 2', 'Thứ 3', 'Thứ 4', 'Thứ 5', 'Thứ 6', 'Thứ 7'],
                height: 'auto',
                //contentHeight: 1500,
                //defaultDate: new Date(),
                //timeFormat: 'h(:mm)a',
                //header: {
                //    left: 'title',
                //    center: 'prev,next',
                //    right: ''
                //},
                defaultDate: new Date(),
                timeFormat: 'h(:mm)a',
                header: {
                    left: 'prev',
                    center: 'title',
                    right: 'next'
                },
                //customButtons: {
                //    myCustomButton: {
                //        text: 'custom!',
                //        click: function () {
                //            filterPastDate();
                //        }
                //    }
                //},
                eventLimit: false,
                eventColor: '#378006',
                events: events,
                eventClick: function (calEvent, el, jsEvent, view) {
                    console.log("calevent", calEvent);
                    var row = j(el.target).closest('.fc-row')
                    var rows = document.getElementsByClassName('fc-row');
                    let strs = '';
                    let strc = '';
                    selectedEvent = calEvent;
                    infos.info[index].dated = selectedEvent.start._i;
                    j.ajax({
                        url: '/patient/home/GetTimeRangeExceed',
                        data: { dated: moment(selectedEvent.start._i).format('DD/MM/YYYY'), idemp: infos.info[index].doctor.idEmp },
                        async: false,
                        success: function (d) {
                            console.log(d)
                            let exceed = d.map((item, index) => { return item.idPeriod })
                            console.log({ exceed })
                            for (x of rows) {
                                x.classList.add('d-none');
                            }
                            row.removeClass('d-none');
                            document.getElementById('timeRange').classList.remove('d-none');
                            document.getElementById('close-calendar').classList.remove('d-none');
                            for (var i = 0; i < infos.timeRange.length; i++) {
                                if (calEvent.timeRange.split(',').map((t) => parseInt(t)).indexOf(infos.timeRange[i].idPeriod) > -1) {
                                    if (infos.timeRange[i].idSes == 1) {
                                        if (exceed.indexOf(parseInt(infos.timeRange[i].idPeriod)) < 0) {
                                            strs += `<div><a data-room="${calEvent.ordinalRoom}" onclick="setTimeRange(this,${infos.timeRange[i].idPeriod})" class="btn btn-outline-info set-time-range" >${infos.timeRange[i].rangeTime}</a></div>`
                                        } else {
                                            strs += `<div><a data-room="${calEvent.ordinalRoom}" class="btn btn-secondary disabled set-time-range" >${infos.timeRange[i].rangeTime}</a></div>`
                                        }

                                    } else {
                                        if (exceed.indexOf(parseInt(infos.timeRange[i].idPeriod)) < 0) {
                                            strc += `<div><a data-room="${calEvent.ordinalRoom}" onclick="setTimeRange(this,${infos.timeRange[i].idPeriod})" class="btn btn-outline-info set-time-range">${infos.timeRange[i].rangeTime}</a></div>`

                                        } else {
                                            strc += `<div><a data-room="${calEvent.ordinalRoom}" class="btn btn-secondary disabled set-time-range">${infos.timeRange[i].rangeTime}</a></div>`
                                        }

                                    }
                                }
                                document.getElementById('timeRanges').innerHTML = strs;
                                document.getElementById('timeRangec').innerHTML = strc;
                            }
                        }
                    })                    
                },
                //selectable: true,
                select: function (start, end) {
                    console.log({ "start": typeof (start) });
                    console.log({ "ngày được chọn:": typeof (start._d) })
                    selectedEvent = {
                        eventID: 0,
                        //idDoctor: idDoctor,
                        timeRange: '',
                        description: '',
                        start: JSON.stringify(start).slice(1, 11),
                        color: ''
                    };
                    //openAddEditForm();
                    j('#calendar').fullCalendar('unselect');
                },
                initialView: 'dayGridMonth',
                validRange: function (nowDate) {
                    return {
                        start: nowDate,
                        end: nowDate.clone().add(3, 'months')
                    };
                },
                viewRender: function (view, element) {
                    var now = new Date();
                    var end = new Date();
                    end.setMonth(now.getMonth() + 2);
                    if (end < view.end) {
                        j('#calender .fc-next-button').hide();
                        return false;
                    } else {
                        j('#calender .fc-next-button').show();
                    }
                    if (view.start < now) {
                        j('#calender .fc-prev-button').hide();
                        return false;
                    } else {
                        j('#calender .fc-prev-button').show();
                    }
                },
                editable: true,
                eventDrop: function (event) {//throw dropdown, fall,
                    return false;
                }
            })
            filterPastDate();
            let buttons = document.getElementsByClassName('fc-button')
            for (let button of buttons) {
                button.addEventListener('click', function () { filterPastDate() })
            }

        }
        function filterPastDate() {
            let rows = document.getElementsByClassName('fc-week');
            for (var i = rows.length - 1; i >= 0; i--) {
                if (rows[i].getElementsByClassName('fc-day-number').length == 0
                    && rows[i].getElementsByClassName('fc-day-header').length == 0) {
                    j(rows[i]).remove();
                }
            }
        }
        function setTimeRange(e, id) {
            let ordinalRoom = j(e).data('room');
            let settimerange = document.getElementsByClassName('set-time-range')
            for (x of settimerange) {
                x.classList.remove('btn-info')
                x.classList.remove('text-white')
                x.classList.remove('font-weight-bolder')
            }
            e.classList.add('btn-info')
            e.classList.add('text-white')
            e.classList.add('font-weight-bolder')
            infos.info[index].timeChoose = id;
            infos.info[index].doctor.ordinalRoom = ordinalRoom
            document.getElementById('datechoose').innerHTML = `Ngày khám: <span>${moment(infos.info[index].dated).format('DD/MM/YYYY')}</span>`
            document.getElementById('hourchoose').innerHTML = `Giờ khám: <span>${infos.timeRange.filter((x) => x.idPeriod == id)[0].rangeTime}</span>`

        }
        j('#close-calendar').click(function () {
            this.classList.add('d-none');
            document.getElementById('timeRange').classList.add('d-none');
            FetchEventAndRenderCalendar(infos.info[index].doctor.idEmp);
        })

        function openAddEditForm() {
            console.log({ "selectedEvent": selectedEvent })
            let str = '';
            if (selectedEvent != null) {
                j('#hdEventID').val(selectedEvent.eventID);
                j('#txtStart').val(selectedEvent.start._i ?? selectedEvent.start);
                //j('#txtStart').val(moment(selectedEvent.start).format('DD/MM/YYYY'));
                j('#txtStart').attr('readonly', true);
                j('#txtDescription').val(selectedEvent.description);
                j('#ddThemeColor').val(selectedEvent.color);
                j('#txtTimeRange').val(selectedEvent.timeRange);
                for (var i = 0; i < timeRange.length; i++) {
                    str += `<div onclick="changeTimeRange(this)" class="doc-slot-list ${selectedEvent.timeRange.indexOf(timeRange[i].idPeriod) > -1 ? "choose" : ""}"><a data-id="${timeRange[i].idPeriod}">${timeRange[i].rangeTime}</a></div>`
                }
            } else {
                for (var i = 0; i < timeRange.length; i++) {
                    str += `<div onclick="changeTimeRange(this)" class="doc-slot-list"><a data-id="${timeRange[i].idPeriod}">${timeRange[i].rangeTime}</a></div>`
                }
                j('#txtStart').attr('readonly', false);
            }
            document.getElementById('modalTimeRange').innerHTML = str;
            j('#myModal').modal('hide');
            j('#myModalSave').modal();
        }
        
        function next() {
            if (infos.info[index].doctor.ordinalRoom && infos.info[index].dated) {
                localStorage.setItem('infos', JSON.stringify(infos));
                console.log(infos)
                window.location.href = "/Patient/Home/ConfirmInfo";
            }
        }
    </script>
    @*<script src="/specialist/js/jquery.min.js"></script>*@

    <!--Bootstrap Core JS-->
    <script src="/specialist/js/popper.min.js"></script>
    <script src="/specialist/js/bootstrap.min.js"></script>

    <!-- Sticky Sidebar JS -->
    <script src="/specialist/plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
    <script src="/specialist/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>

    <!-- Datetimepicker JS -->
    <!--<script src="/specialist/js/moment.min.js"></script>
    <script src="/specialist/js/bootstrap-datetimepicker.min.js"></script>-->
    <!-- Full Calendar JS -->
    <!--<script src="/specialist/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="/specialist/plugins/fullcalendar/fullcalendar.min.js"></script>
    <script src="/specialist/plugins/fullcalendar/jquery.fullcalendar.js"></script>-->
    <!-- Custom JS -->
    <script src="/specialist/js/script.js"></script>

</body>

<!-- doccure/calendar.html  30 Nov 2019 04:12:19 GMT -->
